@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
  common styling starts
  ========================================================================== */
   * { box-sizing: border-box; }
   body { font-family: poppins, sans-serif; }
 
   .wrapper {
      width: 51.85%;
     max-width: 1349px;
     margin: 0 auto;
   }
 
   a { text-decoration: none; }
   ul { list-style: none; }
 
/* ==========================================================================
  common styling ends
  ========================================================================== */
/* ==========================================================================
  Header starts here
  ========================================================================== */

  header{ 
    width: 100%; 
    position: absolute;
    z-index: 1;
  }

  header .wrapper {
    padding-top: 29px;
    padding-bottom: 33px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-size: 34px;
    display: inline-block;
    position: relative;
    color: #fff;
  }

  .logo::after {
    content: '';
    padding: 5px;
    border-top: 3px solid #3cb6eb;
    border-right: 3px solid #3cb6eb;
    border-radius: 2px;
    position: absolute;
    top: 0;
  }

  .search {
    padding: 8px 20px 8px 10px;
    border: 1px solid #369fe3;
    font-size: 11px;
  }

  .submit {
    padding: 9px 14px;
    border: none;
    float: right;
    background: #369fe3;
    color: #fff;
    font-size: 11px;
  }

  /*------------ Navigation Bar starts here ---------------*/

  .primary-navbar{ background-color: rgba(44, 127, 198, 0.5); }
  .primary-navbar .wrapper { padding: 9px 0; }
  
  .primary-navbar .menu-list {
    display: flex; 
    font-size: 12px;
  }

  .primary-navbar .menu:first-child { margin-left: 12px; }

  .primary-navbar .menu:not(:last-child)::after {
    content: '';
    border-left: 1px solid #fff;
    margin: 0 10px;
  }

  .menu-link { color: #fff; }

/* ==========================================================================
  Header ends here
  ========================================================================== */
/* ==========================================================================
  Main starts here
  ========================================================================== */
  
  /*------------ Banner starts here ---------------*/

  .banner { position: relative; }
  .banner-image, .banner-image img { width: 100%; }

  .banner-image img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-text { 
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 100px;
  }

  .banner-headline {
    color: #fff;
    font-size: 30px;
    margin-bottom: 12px;
  }

  .banner-info {
    width: 50%;
    color: #64b6e2;
    font-size: 22px;
  }

  /*------------ newsletter form section start here ---------------*/

  .newsletter-form { width: 100%; }
  .newsletter-form .wrapper { padding: 28px 0 150px 0;}

  .breadcrumps { 
    display: flex;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.7);
  }

  .breadcrumps li:not(:last-child)::after {
    content: '>';
    margin: 0 8px;
  }

  .breadcrumps .active { font-weight: bold; }

  .newsletter-form-headline {
    margin-top: 19px;
    font-size: 25px;
    color: #457ab9;
  }

  .input-groups { 
    font-size: 11px;
    color: rgba(0, 0, 0, 0.8);
  }

  .input-group { margin-top: 19px; }
  .label { margin-bottom: 9px; }

  input[type=text], input[type=email], select { width: 32.06%; }

  select { 
    padding: 5px;
    border: 1px solid #369fe3;
    border-radius: 2px;
    background: #369fe3;
    color: #fff;
  }

  input[type=text], input[type=email] {
    padding: 7.5px;
    border: 1px solid #ddd; 
    border-radius: 2px;
    box-shadow: 1px 1px 2px #ddd, 1px 1px 2px #ddd inset;
    font-size: 12px;
  }

  .input-group:nth-child(8) .form-text { padding-bottom: 25px; }

  .input-group:nth-child(8) label { 
    display: flex;
    align-items: center;
  }

  .input-group:nth-child(9) a { color: #64b6e2; }

  .input-group .submit {
    padding: 9px 48px;
    border-radius: 2px;
    margin-top: 15px;
    float: left;
  }

/* ==========================================================================
  Main ends here
  ========================================================================== */
/* ==========================================================================
  Footer starts here
  ========================================================================== */

  footer {
    width: 100%;
    background-image: linear-gradient(to right, #225faa, #1e3060);
  }

  footer .wrapper { 
    padding: 37px 0 41px 0;
    display: flex; 
    color: #fff;
  }

  footer .wrapper > div { width: calc(33.33% - 4px); }

  /*------------ footer logo start here ---------------*/  

  .footer-logo .logo { 
    margin-bottom: 6px; 
    font-size: 27px; 
  }

  .footer-logo .logo::after {
    padding: 4px;
    border-top: 2.5px solid #3cb6eb;
    border-right: 2.5px solid #3cb6eb;
  }

  .footer-logo .title { 
    padding-top: 10px;
    position: relative;
    font-size: 12px; 
  }

  .footer-logo .title::before {
    content: '';
    width: 80%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 0;
  }

  .bold-text {
    font-weight: bold;
    font-family: serif;
  }

  /*------------ footer logo ends here ---------------*/ 
  /*------------ footer navbar start here ---------------*/ 

  .footer-navbar-headline, .media-icons-headline { 
    margin-bottom: 12px;
    font-size: 13px;
  }

  .secondary-navbar .menu {
    margin-bottom: 4px;
    font-size: 12px;
  }

  /*------------ footer navbar ends here ---------------*/ 
  /*------------ footer icons start here ---------------*/

  .icons { display: flex; }

 

  /*------------ footer icons ends here ---------------*/
  /*------------ footer low priority navigation start here ---------------*/ 

  .low-priority-navigation {
    width: 100%;
    background-image: linear-gradient(to right, #184b87, #15244c);
  }

  .low-priority-navigation .wrapper { 
    padding: 6.5px 0; 
    justify-content: space-between;
    align-items: center;
  }

  .legalities { display: flex;}

  .legalities .menu a { 
    color: #fff;
    font-size: 9.3px;
  }

  .legalities .menu:first-child {margin-left: 8px;}

  .legalities .menu:not(:last-child)::after{
    content: '|';
    margin: 0 2px;
    font-size: 12px;
  }

  .copy-right-text { font-size: 10px; }

  /*------------ footer low priority navigation ends here ---------------*/ 

/* ==========================================================================
  Footer ends here
  ========================================================================== */